@import url("https://fonts.googleapis.com/css2?family=Vollkorn+SC:wght@400;600&display=swap");

* {
    margin: 0;
    font-family: "Vollkorn SC";
    color: #333;
}

.navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
    color: #333;
    font-size: 30px;
}

.navbar .links {
    margin-left: auto;
}

.navbar a {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
}

.home-button {
    padding: 6px;
}

.home-button:hover {
    color: rgb(167, 167, 167);
}

.new-blog {
    color: white;
    background-color: rgb(30, 161, 63);
    border-radius: 6px;
    padding-inline: 12px;
}

.new-blog:hover {
    background-color: rgb(29, 201, 72);
}

.content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
}

.blog-preview {
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid white;
    border-radius: 6px;
}

.blog-preview:hover {
    box-shadow: 1px 3px 5px rgb(124, 124, 124);
}

.blog-preview h2 {
    font-size: 20px;
    color: rgb(0, 224, 97);
    margin-bottom: 8px;
}

.blog-preview a {
    text-decoration: none;
}

.blog-details h2 {
    font-size: 20px;
    color: rgb(0, 224, 97);
    margin-bottom: 10px;
}

.blog-details div {
    margin: 20px 0;
}

.blog-details button {
    background-color:rgb(29, 201, 72);
    color: white;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

.create {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.create label {
    text-align: left;
    display: block;
}

.create h2 {
    font-size: 20px;
    color: rgb(30, 196, 72);
    margin-bottom: 30px;
}

.create input,
.create textarea,
.create select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid gray;
    box-sizing: border-box;
    display: block;
}

.create button {
    background-color: rgb(30, 161, 63);
    color: white;
    border: 0;
    padding: 8px;
    border-radius: 6px;
    padding-inline: 12px;
    cursor: pointer;
}

.create button:hover {
    background-color: rgb(29, 201, 72);
}
