@import url("https://fonts.googleapis.com/css2?family=Vollkorn+SC:wght@400;600&display=swap");

/* base styles */
* {
    margin: 0;
    font-family: "Vollkorn SC";
    color: #333;
}

.navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
    color: #333;
    font-size: 30px;
}

.navbar .links {
    margin-left: auto;
}

.navbar a {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
}

.home {
    padding: 6px;
}

.home:hover {
    color: rgb(167, 167, 167);
}

.new-blog {
    color: white;
    background-color: rgb(30, 161, 63);
    border-radius: 6px;
    padding-inline: 12px;
}

.new-blog:hover {
    color: white;
    background-color: rgb(29, 201, 72);
}

.content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
}

.blog-preview {
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid white;
    border-radius: 6px;
}

.blog-preview:hover {
    box-shadow: 1px 3px 5px rgb(124, 124, 124);
}

.blog-preview h2 {
    font-size: 20px;
    color: rgb(0, 224, 97);
    margin-bottom: 8px;
}
