@import url("https://fonts.googleapis.com/css2?family=Vollkorn+SC:wght@400;600&display=swap");

/* base styles */
* {
    margin: 0;
    font-family: "Vollkorn SC";
    color: #333;
}

.navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
    color: #333;
    font-size: 30px;
}

.navbar .links {
    margin-left: auto;
}

.navbar a {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
}

.home {
    padding: 6px;
}

.home:hover {
    color: rgb(167, 167, 167);
}

.new-blog {
    color: white;
    background-color: rgb(191, 43, 204);
    border-radius: 6px;
    padding-inline: 12px;
}

.new-blog:hover {
    color: white;
    background-color: rgb(206, 115, 214);
}

.content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
}
